jupyter==1.0.0
matplotlib==3.5.1
pandas==1.4.1
numpy==1.22.3
scikit-learn==1.0.2
lxml==4.8.0
nltk==3.7


# Run the following after updating this file:
#    pip-compile --output-file=requirements/generated_requirements.txt requirements/requirements.in
#
# to list new packages: pip list --outdated --not-required
# to sync pip installations: pip-sync requirements/requirements.txt
# the sync will uninstall unused packages too